streamlit
pysqlite3-binary==0.5.2.post3
pandas
python-dotenv
sqlalchemy
psycopg2-binary
altai
langchain
langchain-core
langchain-community
langchain-openai
openai
chromadb
pydantic
typing_extensions
tiktoken



